<% if logged_in? %>
  <%= form_with(model: @profile, local: true) do |form| %>

    <div class="field">
      <%= form.label :image %>
      <%= image_tag(@profile.image.url) if @profile.image && @profile.image.url %>
      <%= form.file_field :image %>
      <%# hidden_fieldとすることで、表示はさせずにsubmit時（form_withメソッド）にpostリクエストで値を送ることができる %>
      <%= form.hidden_field :image_cache %>
      <%= form.label :ニックネーム %>
      <%= form.text_field :nickname %>
      <%= form.label :自己紹介 %>
      <%= form.text_field :content %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <% else %>
    <h3>ログインしないと、画像やコメントの投稿・編集はできません</h3>
<% end %>
