<p id="notice"><%= notice %></p>

<h4>[タイトル]</h4>
<h4><%= @feed.title %></h4>
<h4>[内容]</h4>
<h4><%= @feed.content %></h4>
<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
