<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <header>
        <a>画像やコメントを投稿しよう</a>
        <%= link_to '[一覧へ]', feeds_path %>
        <%= link_to '[新規投稿へ]', new_feed_path %>
      </header>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <p class="login"><%= @current_user.name %>さん（<%= @current_user.email %>）は、現在ログイン中です<p>
    <% else %>
    <header>
      <a>ログインして、画像やコメントを投稿しよう</a>
      <%= link_to '[一覧へ]', feeds_path %>
    </header>
      <p class="login">現在ログインしていません</p>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body
  <footer>
    <p>Toukou課題株式会社(架空)</p>
  </footer>
</html>
